body {
    background-image: url('pngtree-background-of-forest-cartoon-images-picture-image_2774806.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    padding-top: 180px;
    color: #347928;
}

.container-fluid{
    background-color: #D3EE98;
    font-size: large;
}

.title_pulau{
    padding-top: 30px;
    color: #347928;
}

.title_bagian{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #347928;
}

.pembagian_pulau{
    background-color: #D6EFD8;
}